html, body, #root {
  height: 100%;
  margin: 0;
}

:root {
  color-scheme: light dark;
  background-color: #89CFF0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
